.foods[theme="fruits"] .foods__page__list__item:hover 		{ background-color: var(--fruits-light); }
.foods[theme="vegetables"] .foods__page__list__item:hover	{ background-color: var(--vegetables-light); }
.foods[theme="milk"] .foods__page__list__item:hover			{ background-color: var(--milk-light); }
.foods[theme="fast-food"] .foods__page__list__item:hover	{ background-color: var(--fast-food-light); }
.foods[theme="drinks"] .foods__page__list__item:hover		{ background-color: var(--drinks-light); }
.foods[theme="meat"] .foods__page__list__item:hover			{ background-color: var(--meat-light); }
.foods[theme="sea-food"] .foods__page__list__item:hover		{ background-color: var(--sea-food-light); }
.foods[theme="desserts"] .foods__page__list__item:hover		{ background-color: var(--desserts-light); }
.foods[theme="bread"] .foods__page__list__item:hover		{ background-color: var(--bread-light); }


.foods__page__list__item:hover .foods__page__list__item__image {
	transform: translateY(-.1rem);
}

/*.foods__page__list__item:hover .foods__page__list__item__text {
	transform: translateY(-.1rem);
}*/


.block li:hover {
	text-decoration: none;
}