.menu__item[data-type="fruits"]:hover		{ background-color: var(--fruits-hover); }
.menu__item[data-type="vegetables"]:hover	{ background-color: var(--vegetables-hover); }
.menu__item[data-type="milk"]:hover			{ background-color: var(--milk-hover); }
.menu__item[data-type="fast-food"]:hover	{ background-color: var(--fast-food-hover); }
.menu__item[data-type="drinks"]:hover		{ background-color: var(--drinks-hover); }
.menu__item[data-type="meat"]:hover			{ background-color: var(--meat-hover); }
.menu__item[data-type="sea-food"]:hover		{ background-color: var(--sea-food-hover); }
.menu__item[data-type="desserts"]:hover		{ background-color: var(--desserts-hover); }
.menu__item[data-type="bread"]:hover		{ background-color: var(--bread-hover); }


.foods__page__list__item:hover .foods__page__list__item__image {
	transform: translateY(-.1rem);
}

/*.foods__page__list__item:hover .foods__page__list__item__text {
	transform: translateY(-.1rem);
}*/


.block li:hover {
	text-decoration: none;
}

.overlay__set-grams__input--btns > *:hover { cursor: pointer;
	text-shadow: 0 0 1rem #fff;
}
.overlay__set-grams__input--btns > *:active {
	transform: translateY(.05rem);
	text-shadow: 0 0 1rem #fff;
}



.overlay__set-grams__btn:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .8);
}

.overlay__set-grams__btn:active {
	transform: translateY(.05rem);
}

