.overlay {
	display: none;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	z-index: 999;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 200ms ease-in-out;
}
	.overlay.display { display: flex; }
	.overlay.visible { background-color: rgba(0, 0, 0, .2);	}


.overlay__set-grams__container,
.overlay__contact__container {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1.5rem 1.5rem;
	border-radius: 2rem;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
	
	.overlay__set-grams__container.display { display: flex; }

	.overlay__set-grams__container.visible { opacity: 1; }


	.overlay__set-grams--image {
		position: absolute;
		display: none;
		filter: drop-shadow(0 1px 0 rgba(255, 255, 255, .8))
				drop-shadow(1px 0 0 rgba(255, 255, 255, .8))
				drop-shadow(0 -1px 0 rgba(255, 255, 255, .8))
				drop-shadow(-1px 0 0 rgba(255, 255, 255, .8))
				drop-shadow(0 0 2rem rgba(0, 0, 0, .3));
	}
	.overlay__set-grams--image.display { display: block; }

	.overlay__set-grams--image.move { transition: left 200ms ease-in-out, top 200ms ease-in-out, transform 250ms /* this is for scaling back to 1 when closing 'set grams' */; }
	.overlay__set-grams--image.animate-increase {
		animation: animate-increase 200ms 20ms ease-out;
	}
	.overlay__set-grams--image.animate-decrease {
		animation: animate-decrease 200ms 20ms ease-out;
	}
	.overlay__set-grams--image--pseudo { visibility: hidden; }


	.overlay__set-grams__input {
		position: relative;
		display: flex;
		justify-content: center;
		width: 12rem;
		border-radius: 1rem;
		background-color: rgba(255, 255, 255, .6);
		box-shadow: 0 0 2rem rgba(0, 0, 0, .08);
		margin-top: 1.5rem;
		/*transition: background-color 100ms;*/
	}
		.overlay__set-grams__input.invalid { animation: invalid-input 500ms ease-in-out; }
		.overlay__set-grams__input--number {
			width: 8ch;
			border: none;
			background-color: transparent;
			font-family: 'Lato', sans-serif;
			font-size: 1.6rem;
			font-weight: 300;
			text-align: center;
			color: inherit;
			outline: none;
			margin: .2rem 0;
		}
		.overlay__set-grams__input--number::-webkit-outer-spin-button,
		.overlay__set-grams__input--number::-webkit-inner-spin-button {
	    	-webkit-appearance: none;
	    	-moz-appearance: textfield;
	    	margin: 0;
		}
		.overlay__set-grams__input--symbol {
			position: absolute;
			color: transparent;
			width: 100%;
			/*height: 100%;*/
			display: flex;
			justify-content: center;
			align-items: baseline;
			padding: .2rem 0;
			font-family: 'Lato', sans-serif;
			font-size: 1.6rem;
			font-weight: 300;
			margin-left: .8rem;
			pointer-events: none !important;
		}
		.overlay__set-grams__input--symbol span {
			color: #444;
		}

		.overlay__set-grams__input--btns {
			position: absolute;
			right: 0;
			height: 100%;
			font-size: .5rem;
			color: inherit;
			border-top-right-radius: 1rem;
			border-bottom-right-radius: 1rem;
		}

		.overlay__set-grams__input--btns > * {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 50%;
			transition: transform 50ms ease-in-out, text-shadow 50ms ease-in-out;
			text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
		}
		
		
	.overlay__set-grams__btn {
		margin-top: 1.4rem;
		padding: .3rem 1rem;
		border: none;
		border-radius: 1rem;
		background-color: rgba(255, 255, 255, .7);
		box-shadow: 0 0 2rem rgba(0, 0, 0, .08);
		color: inherit;
		font: inherit;
		outline: none;
		transition: background-color 50ms ease-in-out, transform 50ms ease-in-out;
	}








/* CONTACT */
.overlay__contact__container {
	transition: width 200ms ease-in-out, height 200ms ease-in-out;
}

.overlay__contact__container.display { display: block; }
.overlay__contact__container.visible { opacity: 1; }

.overlay__contact__container.form {
	width: 18rem;
	height: 21.5rem;
}
.overlay__contact__container.thanks {
	width: 21.5rem;
	height: 4rem;
}
.overlay__contact__container.thanks.ru {
	width: 23.5rem;
	height: 4rem;
}

.overlay__contact__container.display.form .overlay__contact__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.overlay__contact__container.display.form .overlay__contact__thanks { display: none; }
.overlay__contact__container.display.thanks .overlay__contact__form { display: none; }
.overlay__contact__container.display.thanks .overlay__contact__thanks {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	animation: contact-show-thanks 1700ms ease-in-out forwards;
}
/*.overlay__contact__container.display.thanks.ru .overlay__contact__thanks { width: 20.5rem; }*/

.overlay__contact__form {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}
.overlay__contact__form.visible { opacity: 1; }



/* FORM */
.overlay__contact--input {
	width: 15rem;
	border: none;
	background-color: transparent;
	font-family: 'Lato', 'Open Sans', 'Helvetica', sans-serif;
	font-size: 1.1rem;
	line-height: 1.3;
	font-weight: 300;
	color: inherit;
	outline: none;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0 0 2rem rgba(0, 0, 0, .08);
	padding: .3rem .8rem;
	resize: none;
}
@media screen and (max-width: 480px) {
	.overlay__contact--input {
		width: 13rem;
	}
}
.overlay__contact--input::placeholder { color: #888; }

.overlay__contact--input:first-child { margin-top: .2rem; }
.overlay__contact--input:not(:first-child) { margin-top: 1.2rem; }

.overlay__contact--btn {
	margin-top: 1rem;
	padding: .3rem 1rem;
	border: none;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 2rem rgba(0, 0, 0, .08);
	color: inherit;
	font: inherit;
	outline: none;
	transition: background-color 50ms ease-in-out, transform 50ms ease-in-out;
}

.overlay__contact--input.invalid { animation: invalid-input 500ms ease-in-out; }


/*.overlay__contact__container {
	height: 21rem;
	width: 18rem;
	transition: opacity 200ms ease-in-out, height 200ms ease-in-out, width 200ms ease-in-out;
}
.overlay__contact__container.thanks { height: 4rem; width: 22.5rem; }*/
/* because of russian words have more letters */
/*.overlay__contact__container.thanks.ru { height: 4rem; width: 24.5rem; }
.overlay__contact__container.display { display: flex; }

.overlay__contact__form.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: opacity 100ms ease-in-out;
}

.overlay__contact__form.hide { opacity: 0; }
.overlay__contact__form { display: none; }

.overlay__contact--input {
	width: 15rem;
	border: none;
	background-color: transparent;
	font-family: 'Lato', 'Open Sans', 'Helvetica', sans-serif;
	font-size: 1.1rem;
	line-height: 1.3;
	font-weight: 300;
	color: inherit;
	outline: none;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0 0 2rem rgba(0, 0, 0, .08);
	padding: .3rem .8rem;
	resize: none;
}
@media screen and (max-width: 480px) {
	.overlay__contact--input {
		width: 13rem;
	}
}
.overlay__contact--input::placeholder { color: #888; }

.overlay__contact--input:first-child { margin-top: .2rem; }
.overlay__contact--input:not(:first-child) { margin-top: 1.2rem; }

.overlay__contact--btn {
	margin-top: 1rem;
	padding: .3rem 1rem;
	border: none;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 2rem rgba(0, 0, 0, .08);
	color: inherit;
	font: inherit;
	outline: none;
	transition: background-color 50ms ease-in-out, transform 50ms ease-in-out;
}

.overlay__contact--input.invalid { animation: invalid-input 500ms ease-in-out; }

.overlay__contact__thanks {
	display: none;
	width: 18.5rem;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}*/
/* because russian words have more letters */
/*.overlay__contact__container.thanks.ru .overlay__contact__thanks { width: 20.5rem; }
.overlay__contact__thanks.display {
	display: flex;
	justify-content: center;
}
.overlay__contact__thanks.visible {
	opacity: 1;
}

*/