@import './foods-images.css';
@import './animations.css';
@import './calories-popup.css';
@import './overlay.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-weight: 300;
	font-size: 108%;

	overflow: hidden;
	user-select: none;
}
	@media screen and (max-width: 480px) {
		html, body {
			font-size: 4vw;
		}
	}

body {
	background-image: linear-gradient(to bottom right, rgba(204, 255, 51, 1) 0%, rgba(0, 153, 51, 1) 100%), url('../images/background.png');
	background-blend-mode: hard-light;

	font-family: 'Lato', sans-serif;
	color: #444;

	/*
	We use flexbox only for aligning '.container',
	because we need the container to be relatively-positioned.
	*/
	display: flex;
	justify-content: center;
	align-items: flex-end;

	/* color variables */
	--fruits: #ffdb13;
	--vegetables: #a46897;
	--milk: #8cc8ff;
	--fast-food: #a5c843;
	--drinks: #6a9563;
	--meat: #e38995;
	--sea-food: #feaa68;
	--desserts: #90e8c5;
	--bread: #d85a50;

	--fruits-hover: #ffdb1330;
	--vegetables-hover: #a4689730;
	--milk-hover: #8cc8ff30;
	--fast-food-hover: #a5c84330;
	--drinks-hover: #6a956330;
	--meat-hover: #e3899530;
	--sea-food-hover: #feaa6830;
	--desserts-hover: #90e8c530;
	--bread-hover: #d85a5030;

	--fruits-light: #fff0b3;
	--vegetables-light: #d9bfd3;
	--milk-light: #cce3ff;
	--fast-food-light: #dcecac;
	--drinks-light: #c4d7c1;
	--meat-light: #f3d8dc;
	--sea-food-light: #fadab7;
	--desserts-light: #d6f5e9;
	--bread-light: #f5c0bc;

	--fruits-dark: #fe9416;
	--vegetables-dark: #542a4b;
	--milk-dark: #2d83d3;
	--fast-food-dark: #51680e;
	--drinks-dark: #2a4925;
	--meat-dark: #8a4951;
	--sea-food-dark: #c07420;
	--desserts-dark: #3c9773;
	--bread-dark: #87302a;
}


.container {
	position: relative;
	
	width: 80%;
	height: 93%;
	min-width: 256px; max-width: 700px; 
	/*max-height: 780px;*/

	background-color: #fff;
	border-top-right-radius: 3rem;

	display: grid;
	grid-template-rows: 6rem 1fr 3rem;
	grid-template-columns: 1fr 256px 256px 1fr;	/* 512 x 512 */
	grid-template-areas:
	"nav nav calories calories"
	"btn-prev main main btn-next"
	"footer footer footer footer";
	align-items: center;
	box-shadow: 0 .3rem 1rem rgba(0, 51, 0, .1);

	transition: filter 250ms;
}

.container.blur {
	filter: blur(.4rem);
}

@media screen and (min-width: 768px) {
	.container {
		min-width: 660px;
	}
}

/*
	between 768px and 600px we can normally use BIG images (170x170),
	but TWO in a row
*/
@media screen and (min-width: 600px) and (max-width: 767px) {
	.container {
		/* 2 BIG in a row */
		grid-template-columns: 1fr 171px 170px 1fr;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) {
	.container {
		/* 2 MIDDLE in a row */
		grid-template-columns: 1fr 131px 130px 1fr;
	}
}
@media screen and (max-width: 399px) {
	.container {
		/* 2 SMALL in a row */
		grid-template-columns: 1fr 91px 90px 1fr;
	}
}


@media screen and (max-width: 480px) {
	.container {
		grid-template-rows: 4.5rem 3rem 1fr 2.1rem;
		grid-template-areas:
		"nav nav nav nav"
		"calories calories calories calories"
		"btn-prev main main btn-next"
		"footer footer footer footer";

		border-top-right-radius: 2.2rem;
	}
}











/*
*
*	TOP CONTAINER
*
*/

nav {
	grid-area: nav;
	align-self: start;
	display: flex;
	align-items: center;
}
	.menu {
		position: relative;
		list-style: none;
		margin-left: -.3ch;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 1.7rem;
		font-weight: 300;
		height: 2.8rem;
		width: 13.5rem;
		margin-top: 1.6rem;

		border-bottom-right-radius: 1.4rem;
		border-top-right-radius: 1.4rem;
		box-shadow: 0 .1rem .16rem rgba(0, 0, 0, .1);
		/* animate height so that shadow under the menu could adjust to its size */
		transition: height 300ms ease-out;
	}
		.menu.opened {
			height: calc(2.8rem * 9);
		}

		@media screen and (max-width: 480px) {
			.menu {
				font-size: 1.3rem;
				height: 2.1rem;
				width: 10.3rem;
				margin-top: 1.2rem;
				box-shadow: 0 .1rem .12rem rgba(0, 0, 0, .1);
			}
			.menu.opened {
				height: calc(2.1rem * 9);
			}
		}

	

		.menu__item {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			position: absolute;

			width: inherit;
			height: 2.8rem;
			
			border-bottom-right-radius: 1.4rem;
			border-top-right-radius: 1.4rem;
			cursor: pointer;

			transition: border-radius 300ms ease-out, transform 300ms ease-out, background-color 800ms;
		}
		@media screen and (max-width: 480px) {
			.menu__item {
				height: 2.1rem;
				border-bottom-right-radius: 1.1rem;
				border-top-right-radius: 1.1rem;
			}
		}

			.menu__item a {
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
				margin-left: 1.2ch;
			}

		.menu__item[data-type="fruits"]		{ background-color: var(--fruits); }
		.menu__item[data-type="vegetables"]	{ background-color: var(--vegetables); }
		.menu__item[data-type="milk"]			{ background-color: var(--milk); }
		.menu__item[data-type="fast-food"]		{ background-color: var(--fast-food); }
		.menu__item[data-type="drinks"]		{ background-color: var(--drinks); }
		.menu__item[data-type="meat"]			{ background-color: var(--meat); }
		.menu__item[data-type="sea-food"]		{ background-color: var(--sea-food); }
		.menu__item[data-type="desserts"]		{ background-color: var(--desserts); }
		.menu__item[data-type="bread"]			{ background-color: var(--bread); }


		.menu__item:nth-child(1) { z-index: 9; }
		.menu__item:nth-child(2) { z-index: 8; }
		.menu__item:nth-child(3) { z-index: 7; }
		.menu__item:nth-child(4) { z-index: 6; }
		.menu__item:nth-child(5) { z-index: 5; }
		.menu__item:nth-child(6) { z-index: 4; }
		.menu__item:nth-child(7) { z-index: 3; }
		.menu__item:nth-child(8) { z-index: 2; }
		.menu__item:nth-child(9) { z-index: 1; }

		/* LOOK HOW TO CREATE THIS VIA ANIMATION */

		/* opening the menu */
		.menu.opened .menu__item:nth-child(1) { border-bottom-right-radius: 0; }
		.menu.opened .menu__item:nth-child(2) { transform: translateY(100%); }
		.menu.opened .menu__item:nth-child(3) { transform: translateY(200%); }
		.menu.opened .menu__item:nth-child(4) { transform: translateY(300%); }
		.menu.opened .menu__item:nth-child(5) { transform: translateY(400%); }
		.menu.opened .menu__item:nth-child(6) { transform: translateY(500%); }
		.menu.opened .menu__item:nth-child(7) { transform: translateY(600%); }
		.menu.opened .menu__item:nth-child(8) { transform: translateY(700%); }
		.menu.opened .menu__item:nth-child(9) {
			transform: translateY(800%);
			border-top-right-radius: 0;
		}
		.menu.opened .menu__item:not(:first-child):not(:last-child) {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}

		.menu.hidden .menu__item:not(:first-child) { opacity: 0; }



.calories {
	grid-area: calories;
	justify-self: end;
	align-self: end;

	display: flex;
	align-items: baseline;

	font-family: 'Lato', sans-serif;
	font-size: 4rem;
	font-weight: 100;

	margin-right: 1ch;
}
@media screen and (max-width: 480px) {
	.calories {
		justify-self: center;
		align-self: center;
		font-size: 2.5rem;
		margin-right: 0;
		margin-left: 1.8rem; /* this is because of calculator icon */
	}
}

	.calories--icon img {
		background: url('../images/calculator.svg');
		width: 1.8rem;
		height: 1.8rem;
		background-size: 1.8rem 1.8rem;
		background-repeat: no-repeat;
	}
	@media screen and (max-width: 480px) {
		.calories--icon img {
			width: 1.2rem;
			height: 1.2rem;
			background-size: 1.2rem 1.2rem;
		}
	}

	.calories--icon.active { cursor: pointer; }

	.calories--icon.demonstrate img {
		animation: demonstrate-trash 1200ms 1000ms ease-in-out;
	}

	.calories--icon.trash-open img {
		animation: trash-open 200ms ease-in-out forwards;
	}

	.calories--icon.trash-close img {
		animation: trash-close 200ms ease-in-out;
	}

		.calories--icon { transition: transform 100ms ease-out; }
		.calories--icon.active.trash-open:active { transform: translateY(.1rem); }






/*

	MIDDLE CONTAINER

*/


.btn__prev,
.btn__next {
	/*justify-self: stretch;*/
	/*align-self: stretch;*/
	justify-self: center;
	background-color: green;
	cursor: pointer;
	display: none;
}
.btn__prev {
	grid-area: btn-prev;
}
.btn__next {
	grid-area: btn-next;
}
@media screen and (max-width: 480px) {
	.btn__prev,
	.btn__next {
		justify-self: center;
	}
}


/*
*
*	MAIN CONTAINER
*
*/

main {
	position: relative;
	
	grid-area: main;
	display: flex;

	overflow: hidden;
	overflow-x: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

main::-webkit-scrollbar {
	display: none;
}

.foods__page__list {	
	display: grid;
	grid-template-rows: 170px 170px 170px;
	grid-template-columns: 170px 170px 170px;
	grid-gap: 1px;

	list-style: none;
}
	.block::after { content: "9"; }

/* iPad Pro height and bigger */
@media screen and (min-height: 1025px) {
	.foods__page__list {
		grid-template-rows: 170px 170px 170px 170px 170px;
	}
	.block::after { content: "15"; }
}

/* iPad height */
@media screen and (min-height: 960px) and (max-height: 1024px) {
	.foods__page__list {
		grid-template-rows: 170px 170px 170px 170px;
	}
	.block::after { content: "12"; }
}

/*
	between 768px and 600px we can normally use BIG images (170x170),
	but TWO in a row
*/
@media screen and (min-width: 600px) and (max-width: 767px) {
	.foods__page__list {
		/* 2 BIG in a row */
		grid-template-rows: 170px 170px 170px;
		grid-template-columns: 170px 170px;
	}
	.block::after { content: "6"; }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
	.foods__page__list {
		/* 2 MIDDLE in a row */
		grid-template-rows: calc(130px + 1.6rem) calc(130px + 1.6rem) calc(130px + 1.6rem);
		grid-template-columns: 130px 130px;
	}
	.block::after { content: "6"; }
}

@media screen and (max-width: 399px) and (max-height: 759px) {
	.foods__page__list {
		/* 2 SMALL in a row*/
		grid-template-rows: calc(90px + 1.8rem) calc(90px + 1.8rem) calc(90px + 1.8rem);
		grid-template-columns: 90px 90px;
	}
	.block::after { content: "6"; }
}

/* Case of iPhone X */
@media screen and (max-width: 399px) and (min-height: 760px) {
	.foods__page__list {
		/* 2x4 SMALL */
		grid-template-rows: calc(90px + 1.8rem) calc(90px + 1.8rem) calc(90px + 1.8rem) calc(90px + 1.8rem);
		grid-template-columns: 90px 90px;
	}
	.block::after { content: "8"; }
}


	.foods__page__list__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		cursor: pointer;
		transition: background-color 150ms;
	}

		.foods__page__list__item__image {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			transition: transform 100ms ease-out;
		}

			.foods__page__list__item__image img {
				display: block;
				transition: transform 100ms ease-out;
			}

			.foods__page__list__item:active .foods__page__list__item__image img {
				transform: scale(.98);
			}
			
			.foods__page__list__item.selected .foods__page__list__item__image img {
				animation: item-select 200ms ease-out;
				filter: drop-shadow(0 1px 0 rgba(255, 255, 255, .8))
						drop-shadow(1px 0 0 rgba(255, 255, 255, .8))
						drop-shadow(0 -1px 0 rgba(255, 255, 255, .8))
						drop-shadow(-1px 0 0 rgba(255, 255, 255, .8))
						drop-shadow(0 0 .5rem rgba(255, 255, 255, .15));
			}

		.foods__page__list__item__text {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: baseline;
			padding: 0 .5rem .2rem .5rem;
		}
		

			.foods__page__list__item__text--title {
				font-size: inherit;
				font-weight: inherit;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			.foods__page__list__item__text--grams {
				font-size: .86rem;
				white-space: nowrap;

				display: none;
			}
			.foods__page__list__item__text--grams::before {
				content: "\00b7";
				margin: 0 .5ch;
			}

			@media screen and (max-width: 599px) {
				.foods__page__list__item__text {
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 3.4rem;
				}
				.foods__page__list__item__text--grams { font-size: .8rem; }
				.foods__page__list__item__text--grams::before { content: ""; }
			}

			.foods__page__list__item.selected .foods__page__list__item__text--grams { display: block; }

			.foods[theme="vegetables"] .foods__page__list__item__text--grams { color: #fff; }
			.foods[theme="milk"] .foods__page__list__item__text--grams { color: #fff; }
			.foods[theme="fast-food"] .foods__page__list__item__text--grams { color: #fff; }
			.foods[theme="drinks"] .foods__page__list__item__text--grams { color: #fff; }
			.foods[theme="meat"] .foods__page__list__item__text--grams { color: #fff; }
			.foods[theme="bread"] .foods__page__list__item__text--grams { color: #fff; }

			
	.foods__page__list__item,
	.foods__page__list__item.selected,
	.foods__page__list__item.selected:hover { background-attachment: fixed; }

	.foods[theme="vegetables"] .foods__page__list__item.selected,
	.foods[theme="vegetables"] .foods__page__list__item.selected:hover
		{ color: #fff;}
	.foods[theme="milk"] .foods__page__list__item.selected,
	.foods[theme="milk"] .foods__page__list__item.selected:hover
		{ color: #fff;}
	.foods[theme="fast-food"] .foods__page__list__item.selected,
	.foods[theme="fast-food"] .foods__page__list__item.selected:hover
		{ color: #fff; }
	.foods[theme="drinks"] .foods__page__list__item.selected,
	.foods[theme="drinks"] .foods__page__list__item.selected:hover
		{ color: #fff; }
	.foods[theme="meat"] .foods__page__list__item.selected,
	.foods[theme="meat"] .foods__page__list__item.selected:hover
		{ color: #fff;}
	.foods[theme="bread"] .foods__page__list__item.selected,
	.foods[theme="bread"] .foods__page__list__item.selected:hover
		{ color: #fff;}






/*

	BOTTOM CONTAINER

*/

footer {
	grid-area: footer;
	justify-self: end;
	align-self: end;

	margin-right: -.3ch;
}
	.block {
		height: 1.4rem;

		padding: 0 1.2ch 0 2ch;
		border-top-left-radius: 30px;
		/*box-shadow: 0 .1rem .16rem rgba(0, 0, 0, .1);*/

		transition: background-color 400ms;
	}
		@media screen and (max-width: 480px) {
			.block {
				height: 1.1rem;
				padding: 0 1ch 0 1.6ch;
				/*box-shadow: 0 .1rem .12rem rgba(0, 0, 0, .1);*/
			}
		}
	.block[theme="fruits"]		{ background-color: var(--fruits-dark); }
	.block[theme="vegetables"]	{ background-color: var(--vegetables-dark); }
	.block[theme="milk"]		{ background-color: var(--milk-dark); }
	.block[theme="fast-food"]	{ background-color: var(--fast-food-dark); }
	.block[theme="drinks"]		{ background-color: var(--drinks-dark); }
	.block[theme="meat"]		{ background-color: var(--meat-dark); }
	.block[theme="sea-food"]	{ background-color: var(--sea-food-dark); }
	.block[theme="desserts"]	{ background-color: var(--desserts-dark); }
	.block[theme="bread"]		{ background-color: var(--bread-dark); }
		.block ul {
			height: inherit;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			list-style: none;
			font-size: .84rem;
			color: #fff;
		}
			@media screen and (max-width: 480px) {
				.block ul {
					font-size: .74rem;
				}
			}
			.block li {
				margin: 0 .8ch;
				text-decoration: underline;
			}
			.block a {
				color: #fff;
				cursor: pointer;
				text-decoration: none;
			}
	/* DON'T REMOVE THIS PSEUDO ELEMENT */
	/* It takes care about how many items are shown on one page */
	.block::after {
		display: inline;
		font-size: 0;
		position: absolute;
		visibility: hidden;
	}






/*

	TOOLTIP	

*/





/*

	OVERLAY

*/




.img-border-shadow {
	filter: drop-shadow(0 1px 0 rgba(255, 255, 255, .8))
			drop-shadow(1px 0 0 rgba(255, 255, 255, .8))
			drop-shadow(0 -1px 0 rgba(255, 255, 255, .8))
			drop-shadow(-1px 0 0 rgba(255, 255, 255, .8))
			drop-shadow(0 0 2rem rgba(0, 0, 0, .2));
}







