.tooltip-hand {
	position: absolute;
	top: 100vh;
	display: none;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
}
	.tooltip-hand.move { transition: left 600ms ease-out, top 600ms ease-out; }
	.tooltip-hand.display { display: flex; }
	.tooltip-hand.press-and-hold { animation: press-and-hold 2000ms ease-in-out; }
	
	.tooltip-hand--text {
		display: block;
		color: #fff;
		font-size: 1.2rem;
		font-weight: 400;
		text-align: center;
		margin-bottom: .5rem;
		text-shadow: 0 .05rem .15rem rgba(0, 0, 0, .4);
		filter: drop-shadow(0 .05rem 1px rgba(0, 0, 0, .8));
	}
	@media screen and (max-width: 480px) {
		.tooltip-hand--text {
			font-size: 1rem;
		}
	}
	.tooltip-hand.default .tooltip-hand--text { visibility: hidden; }
	.tooltip-hand.press.scale-down .tooltip-hand--text { visibility: visible; }

	.tooltip-hand--icon {
		width: 3rem;
		height: 3rem;
		filter: drop-shadow(0 .05rem .15rem rgba(0, 0, 0, .1));
	}

		.tooltip-hand.default .tooltip-hand--icon use:first-child { display: block; }
		.tooltip-hand.default .tooltip-hand--icon use:last-child { display: none; }
		.tooltip-hand.press .tooltip-hand--icon use:first-child { display: none; }
		.tooltip-hand.press .tooltip-hand--icon use:last-child { display: block; }

		.tooltip-hand.scale-down { animation: hand-scale-down 100ms ease-in forwards; }
		.tooltip-hand.scale-up { animation: hand-scale-up 100ms ease-out; }